@import url(../../../../../styles.scss);
@import '../../../../../styles/_colors';

:host {
  .container {
    border: 0.1px $light-gray solid;
    border-top: none;

    margin-bottom: 10px;
    border-bottom: none;
    .content-wrapper {
      div {
        height: 300px;
      }
    }

    @media (max-width: 90em) {
      width: 86vw;
    }

    @media (max-width: 37.25em) {
      width: 100vw;
    }
  }
}
