<div class="container">

  <div class="post-card">
    <div class="post-card-header">
      <div class="user-infos">
        <img src="" class="profile-image">
        <div class="user-infos-text">
          <span>author</span>
          <span class="sub-author">sub-author</span>
        </div>
      </div>
      <div class="time">
        terste
      </div>
    </div>
    <div class="content-preview">
      <span>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tristique eros tortor, at rhoncus magna consequat sit amet. Vestibulum fermentum, orci vitae sodales luctus, risus lacus ultrices arcu, condimentum aliquet turpis ligula eget lectus. Praesent vitae enim eget odio ultrices lacinia. Duis eget quam mauris. In risus libero, mattis nec lectus id, venenatis rutrum ante. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque condimentum erat eget egestas pharetra. Integer ligula nisi, imperdiet in nulla fringilla, viverra posuere turpis. Nulla mattis vulputate aliquet.
      </span>
      <br>
    </div>
  </div>

  <div class="post-card">
    <div class="post-card-header">
      <div class="user-infos">
        <img src="" class="profile-image">
        <div class="user-infos-text">
          <span>author</span>
          <span class="sub-author">sub-author</span>
        </div>
      </div>
      <div class="time">
        terste
      </div>
    </div>
    <div class="content-preview">
      <span>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tristique eros tortor, at rhoncus magna consequat sit amet. Vestibulum fermentum, orci vitae sodales luctus, risus lacus ultrices arcu, condimentum aliquet turpis ligula eget lectus. Praesent vitae enim eget odio ultrices lacinia. Duis eget quam mauris. In risus libero, mattis nec lectus id, venenatis rutrum ante. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque condimentum erat eget egestas pharetra. Integer ligula nisi, imperdiet in nulla fringilla, viverra posuere turpis. Nulla mattis vulputate aliquet.
      </span>
      <br>
    </div>
  </div>

  <div class="post-card">
    <div class="post-card-header">
      <div class="user-infos">
        <img src="" class="profile-image">
        <div class="user-infos-text">
          <span>author</span>
          <span class="sub-author">sub-author</span>
        </div>
      </div>
      <div class="time">
        terste
      </div>
    </div>
    <div class="content-preview">
      <span>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tristique eros tortor, at rhoncus magna consequat sit amet. Vestibulum fermentum, orci vitae sodales luctus, risus lacus ultrices arcu, condimentum aliquet turpis ligula eget lectus. Praesent vitae enim eget odio ultrices lacinia. Duis eget quam mauris. In risus libero, mattis nec lectus id, venenatis rutrum ante. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque condimentum erat eget egestas pharetra. Integer ligula nisi, imperdiet in nulla fringilla, viverra posuere turpis. Nulla mattis vulputate aliquet.
      </span>
      <br>
    </div>
  </div>

  <div class="post-card">
    <div class="post-card-header">
      <div class="user-infos">
        <img src="" class="profile-image">
        <div class="user-infos-text">
          <span>author</span>
          <span class="sub-author">sub-author</span>
        </div>
      </div>
      <div class="time">
        terste
      </div>
    </div>
    <div class="content-preview">
      <span>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tristique eros tortor, at rhoncus magna consequat sit amet. Vestibulum fermentum, orci vitae sodales luctus, risus lacus ultrices arcu, condimentum aliquet turpis ligula eget lectus. Praesent vitae enim eget odio ultrices lacinia. Duis eget quam mauris. In risus libero, mattis nec lectus id, venenatis rutrum ante. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque condimentum erat eget egestas pharetra. Integer ligula nisi, imperdiet in nulla fringilla, viverra posuere turpis. Nulla mattis vulputate aliquet.
      </span>
      <br>
    </div>
  </div>

  <div class="post-card">
    <div class="post-card-header">
      <div class="user-infos">
        <img src="" class="profile-image">
        <div class="user-infos-text">
          <span>author</span>
          <span class="sub-author">sub-author</span>
        </div>
      </div>
      <div class="time">
        terste
      </div>
    </div>
    <div class="content-preview">
      <span>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tristique eros tortor, at rhoncus magna consequat sit amet. Vestibulum fermentum, orci vitae sodales luctus, risus lacus ultrices arcu, condimentum aliquet turpis ligula eget lectus. Praesent vitae enim eget odio ultrices lacinia. Duis eget quam mauris. In risus libero, mattis nec lectus id, venenatis rutrum ante. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque condimentum erat eget egestas pharetra. Integer ligula nisi, imperdiet in nulla fringilla, viverra posuere turpis. Nulla mattis vulputate aliquet.
      </span>
      <br>
    </div>
  </div>

  <div class="post-card">
    <div class="post-card-header">
      <div class="user-infos">
        <img src="" class="profile-image">
        <div class="user-infos-text">
          <span>author</span>
          <span class="sub-author">sub-author</span>
        </div>
      </div>
      <div class="time">
        terste
      </div>
    </div>
    <div class="content-preview">
      <span>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tristique eros tortor, at rhoncus magna consequat sit amet. Vestibulum fermentum, orci vitae sodales luctus, risus lacus ultrices arcu, condimentum aliquet turpis ligula eget lectus. Praesent vitae enim eget odio ultrices lacinia. Duis eget quam mauris. In risus libero, mattis nec lectus id, venenatis rutrum ante. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque condimentum erat eget egestas pharetra. Integer ligula nisi, imperdiet in nulla fringilla, viverra posuere turpis. Nulla mattis vulputate aliquet.
      </span>
      <br>
    </div>
  </div>

  <div class="post-card">
    <div class="post-card-header">
      <div class="user-infos">
        <img src="" class="profile-image">
        <div class="user-infos-text">
          <span>author</span>
          <span class="sub-author">sub-author</span>
        </div>
      </div>
      <div class="time">
        terste
      </div>
    </div>
    <div class="content-preview">
      <span>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tristique eros tortor, at rhoncus magna consequat sit amet. Vestibulum fermentum, orci vitae sodales luctus, risus lacus ultrices arcu, condimentum aliquet turpis ligula eget lectus. Praesent vitae enim eget odio ultrices lacinia. Duis eget quam mauris. In risus libero, mattis nec lectus id, venenatis rutrum ante. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque condimentum erat eget egestas pharetra. Integer ligula nisi, imperdiet in nulla fringilla, viverra posuere turpis. Nulla mattis vulputate aliquet.
      </span>
      <br>
    </div>
  </div>

  <div class="post-card">
    <div class="post-card-header">
      <div class="user-infos">
        <img src="" class="profile-image">
        <div class="user-infos-text">
          <span>author</span>
          <span class="sub-author">sub-author</span>
        </div>
      </div>
      <div class="time">
        terste
      </div>
    </div>
    <div class="content-preview">
      <span>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tristique eros tortor, at rhoncus magna consequat sit amet. Vestibulum fermentum, orci vitae sodales luctus, risus lacus ultrices arcu, condimentum aliquet turpis ligula eget lectus. Praesent vitae enim eget odio ultrices lacinia. Duis eget quam mauris. In risus libero, mattis nec lectus id, venenatis rutrum ante. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque condimentum erat eget egestas pharetra. Integer ligula nisi, imperdiet in nulla fringilla, viverra posuere turpis. Nulla mattis vulputate aliquet.
      </span>
      <br>
    </div>
  </div>

</div>
