:host {
  .container {
    display: flex;
    flex-direction: column;

    row-gap: 10px;
    width: 100%;
    margin: 0;

    .post-card {
      background-color: white;


      .post-card-header {
        display: flex;
        flex-direction: row;

        justify-content: space-between;

        .user-infos {
          display: flex;
          flex-direction: row;
        }

        .user-infos-text {
          display: flex;
          flex-direction: column;

          padding-left: 10px;

          .sub-author {
            color: gray;
          }
        }

        .profile-image {
          width: 48px;
          height: 48px;

          background-color: black;
          border-radius: 100%;
        }
      }

      .content-preview {
        padding-top: 10px;

        a {
          text-decoration: none;
          font-size: 15px;
        }
      }

     
    }
  }
}
