@import url(../../../styles.scss);
@import '../../../styles/_colors';

:host {
  .container {
    display: flex;
    flex-direction: row;

    background-color: $gray;

    padding: 0.4em;
    height: 30px;

    align-items: center;
    border: 0.1px $light-gray solid;

    justify-content: space-between;

    span {
      font-size: 1em;
      font-weight: 500;
    }
  }
}
