<div class="container">
  <span class="suggestion">SUGESTÕES</span>
  <div class="card">
    <div class="profile-image">
      r
    </div>
    <div class="title">
      <span>Username</span>
    </div>
  </div>

  <div class="card">
    <div class="profile-image">
      r
    </div>
    <div class="title">
      <span>Username</span>
    </div>
  </div>

  <div class="card">
    <div class="profile-image">
      r
    </div>
    <div class="title">
      <span>Username</span>
    </div>
  </div>
</div>
