<div class="container">
    <div class="header">
      <div class="profile-image">
        t
      </div>
    </div>
    <div class="item-list" (click)="navigateTo('home')">
      <img class="icon" src="../../../assets/icons/house.svg"/>
      <span>Home</span>
    </div>
    <div class="item-list">
      <img class="icon" src="../../../assets/icons/message.svg"/>
      <span>Mensagens</span>
    </div>
    <div class="item-list">
      <img class="icon" src="../../../assets/icons/person-heart.svg"/>
      <span>assinaturas</span>
    </div>
    <div class="item-list">
      <img class="icon" src="../../../assets/icons/credit-card.svg"/>
      <span>adicionar cartao</span>
    </div>
    <div class='item-list' (click)="navigateTo('userId')">
      <img class="icon" src="../../../assets/icons/person.svg"/>
      <span>meu perfil</span>
    </div>
    <button (click)="navigateTo('post/create')">
      <img class="icon" src="../../../assets/icons/plus.svg"/>
     <span>NOVA PUBLICAÇÃO</span>
    </button>
</div>
