<div class="container">
    <div class="header">
      <div class="profile-image">
        t
      </div>
    </div>
    <div class="item-list selected">
      <div class="icon">H</div>
      <span>Home</span>
    </div>
    <div class="item-list">
      <div class="icon">H</div>
      <span>Mensagens</span>
    </div>
    <div class="item-list">
      <div class="icon">H</div>
      <span>Colecoes</span>
    </div>
    <div class="item-list">
      <div class="icon">H</div>
      <span>assinaturas</span>
    </div>
    <div class="item-list">
      <div class="icon">H</div>
      <span>adicionar cartao</span>
    </div>
    <div class="item-list" (click)="navigateTo('userId')">
      <div class="icon">H</div>
      <span>meu perfil</span>
    </div>
    <button>
      <div class="icon">+</div>
     <span>NOVA PUBLICAÇÃO</span>
    </button>
</div>
