@import url(../../../../styles.scss);
@import '../../../../styles.scss';


:host {
    .container {
    display: flex;
    flex-direction: row;
    padding-inline: 20vw;

    .content-wrapper {
      display: flex;
      flex-direction: column;

      app-title-bar {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
      }
    }

    app-profiles-cards {

      position: -webkit-sticky;
      position: relative;
      top: 0;
      @media  (max-width: 768px) {
        display: none;
        padding-right: 0px;
      }
    }

    app-side-bar {
      margin-right: 30px;
      position: relative;
    }
    @media (max-width: 90em) {
      width: 100%;
      padding-inline: 0px
    }

    @media (max-width: 64em) {
      padding-inline: 0px
    }

  }
}
