@import url(../../../../styles.scss);
@import '../../../../styles.scss';

:host {
  .container {
    display: flex;
    flex-direction: row;
    padding-inline: 20vw;

    .content-wrapper {
      display: flex;
      flex-direction: column;
      app-title-bar {
        position: -webkit-sticky; /* For Safari */
        position: sticky;
        top: 0;
      }
    }

    app-side-bar {
      margin-right: 30px;
      position: relative;
    }
    @media (max-width: 90em) {
      width: 100%;
      padding-inline: 0px
    }

    @media (max-width: 64em) {
      padding-inline: 0px
    }
  }
}
