<footer>
  <div class="container">
    <div class="column">
      <span>©2024 OnlyPosts</span>
      <span>Contato</span>
      <div class="contact-icons">
        <a href="https://www.linkedin.com/in/mateusleandros">
          <img class="icon" src="../../../assets/icons/linkedin.svg">
        </a>
        <a href="https://github.com/LSaints">
          <img class="icon" src="../../../assets/icons/github.svg">
        </a>
      </div>
    </div>
    <div class="column">
      <span>Help</span>
      <span>Store</span>
      <span>Cookie Notice</span>
      <br>
      <span>OnlyPosts Safety & Transparency Center</span>
    </div>
    <div class="column">
      <span>About</span>
      <span>Term of Services</span>
      <span>DMCA</span>
      <br>
      <span>Anti-Slavery and Anti-Trafficking<br>Statement</span>
    </div>
    <div class="column">
      <span>Blog</span>
      <span>Privacy</span>
      <span>USC 2257</span>
      <br>
      <span>Acceptable Use Policy</span>
    </div>
    <div class="column">
      <span>Branding</span>
      <span>Complaints Policy</span>
      <span>Standard Contract between Fan and Creator</span>
    </div>
  </div>
</footer>
