<div class="container">
  <div class="post-wrapper">
    <div class="post-wrapper-title">
      Últimas postagens em destaque
    </div>
    <div *ngFor="let post of posts" class="post-card" >
      <div class="post-card-header">
        <div class="user-infos">
          <img src="{{post.user.imageUri}}" class="profile-image">
          <div class="user-infos-text">
            <span>{{ post.user.username }}</span>
            <span class="sub-author">{{ post.user.username }}</span>
          </div>
        </div>
        <div class="time">
          {{ calculateElapsedTime(post.createdAt) }}
        </div>
      </div>
      <div class="content-preview">
        {{ post.body }}...
        <br>
        <a href="#">Ler mais</a>
      </div>
    </div>
  </div>
  <button class="btn-show_more" type="button">MOSTRAR MAIS</button>
</div>
