<div class="container">
  <div class="post-wrapper">
    <div class="post-wrapper-title">
      Últimas postagens em destaque
    </div>
    <div class="post-card">



      <div class="post-card-header">
        <div class="user-infos">
          <div class="profile-image">
            o
          </div>
          <div class="user-infos-text">
            <span>autor</span>
            <span>autor</span>
          </div>
        </div>
        <div class="time">
          há 7 horas
        </div>
      </div>

      <div class="content-preview">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
        <br>
        <a href="#">Ler mais</a>
      </div>
    </div>



    <div class="post-card">
      <div class="post-card-header">
        <div class="user-infos">
          <div class="profile-image">
            o
          </div>
          <div class="user-infos-text">
            <span>autor</span>
            <span>autor</span>
          </div>
        </div>
        <div class="time">
          há 7 horas
        </div>
      </div>

      <div class="content-preview">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
        <br>
        <a href="#">Ler mais</a>
      </div>
    </div>



    <div class="post-card">
      <div class="post-card-header">
        <div class="user-infos">
          <div class="profile-image">
            o
          </div>
          <div class="user-infos-text">
            <span>autor</span>
            <span>autor</span>
          </div>
        </div>
        <div class="time">
          há 7 horas
        </div>
      </div>

      <div class="content-preview">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
        <br>
        <a href="#">Ler mais</a>
      </div>
    </div>
  </div>

  <button class="btn-show_more" type="button">MOSTRAR MAIS</button>
</div>
